.app-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 10px;
  margin-bottom: 5vh;
}

.app-left {
  flex: 0.9;
}

.app-right-table .MuiPaper-root {
  padding: 4px;
}

.table-title {
  text-align: center;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background-color: #f3f2f8;
}

.table-data {
  padding: 2.5px;
}

.table {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.table::-webkit-scrollbar {
  display: none;
}

.chart-container {
  margin-top: 10px;
}

.chart-container canvas {
  height: 250px !important;
  width: 500px !important;
}

.app-infoboxes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.box {
  padding: 15px;
  min-width: 10vw;
  cursor: pointer;
}

.activeBoxCases {
  border-top: 5px solid crimson;
}

.recoveredCases {
  border-top: 5px solid limegreen;
}

.deathCases {
  border-top: 5px solid darkgray;
}

.leaflet-container {
  height: 60vh;
}

.map-card {
  margin-top: 15px;
  padding: 10px;
  border-radius: 25px;
}

.popup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup-flag {
  width: 50%;
}

.popup-left {
  text-align: center;
}

.popup-data {
  margin: 0px;
  width: max-content;
}

.news-app {
  padding: 10px;
}

.news-container {
  display: grid;
  place-items: center;
  grid-row-gap: 5vh;
  grid-template-columns: auto auto auto;
}

.news-card-container {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  height: 400px;
  width: 300px;
  border: 1px solid grey;
  transition: all 200ms;
}

.news-card-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.news-image {
  width: 100%;
}

.card-body {
  padding: 10px;
}

.news-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1vh;
}

.news-container-title {
  display: grid;
  place-items: center;
  padding: 10px;
  margin: 20px;
}

.news-button-container {
  display: grid;
  place-items: center;
  margin-top: 10px;
  padding: 10px;
}

.news-button {
  background-color: lightgreen;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
}

.news-button:hover {
  background-color: green;
}
